.scroll-box{
  width: 400px;
  padding: 12px;
  background: #e8e2cf;
  overflow-x: auto;
  border-radius: 6px;
}

/* forza una riga sola */
.content{
  white-space: nowrap;
}

/* ===== SCROLLBAR CUSTOM ===== */
.scroll-box::-webkit-scrollbar{
  height: 6px;
}

.scroll-box::-webkit-scrollbar-track{
  background: transparent;
}

.scroll-box::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,0.35);
  border-radius: 6px;
}

.scroll-box::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.55);
}

/* Firefox */
.scroll-box{
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.4) transparent;
}
